body {

    font-family: sans-serif;

}

#shape {

    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    display: none;
    position: relative;

}

.bold {

    font-weight: bold;

}
